<h1 mat-dialog-title>Introduceți o nouă vânzare!</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper linear
  (animationDone)="focusTheInput($event)"
  (selectionChange)="preparefocusTheInput($event)">
    <mat-step label="Data">
      <form [formGroup]="clientFormGroup">
      <mat-form-field>
        <input matInput 
                [matDatepicker]="datePicker" 
                placeholder="Alege data ..."
                (dateChange) = "dateSelect($event)"
                [value] = "saleDto.data"
                formControlName="dataControl">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker touchUi ></mat-datepicker>
    </mat-form-field>
    <div>
      <button mat-raised-button matStepperNext>Pasul următorul</button>
    </div>
  </form>
    </mat-step>

    <mat-step label="Nume client" [stepControl]="clientFormGroup" >
      <form [formGroup]="clientFormGroup">
      <mat-form-field>
        <input matInput id="input1" placeholder="Nume..." formControlName="numeClientControl">
      </mat-form-field>
      <div class="mydiv">
        <button mat-raised-button matStepperPrevious>Pasul precedent</button>
        <button mat-raised-button matStepperNext>Pasul următorul</button>
      </div>
    </form>
    </mat-step>

    <mat-step label="Produs">
      <form [formGroup]="produsFormGroup">
      <mat-form-field>
        <input matInput id="input2" placeholder="Produs..." formControlName="numeProdusControl">
      </mat-form-field>
      <div class="mydiv">
        <button mat-raised-button matStepperPrevious>Pasul precedent</button>
        <button mat-raised-button matStepperNext>Pasul următorul</button>
      </div>
    </form>
    </mat-step>

    <mat-step label="Cod produs">
      <form [formGroup]="codProdusFormGroup">
      <mat-form-field>
        <input matInput  id="input3" placeholder="Cod..." formControlName="codProdusControl" >
      </mat-form-field>
      <div class="mydiv">
        <button mat-raised-button matStepperPrevious>Pasul precedent</button>
        <button mat-raised-button matStepperNext>Pasul următorul</button>
      </div>
    </form>
    </mat-step>

    <mat-step label="Pret">
      <form [formGroup]="pretProdusFormGroup">
      <mat-form-field>
        <input matInput  id="input4" placeholder="Preț..." formControlName="pretProdusControl">
      </mat-form-field>
      <div class="mydiv">
        <button mat-raised-button matStepperPrevious>Pasul precedent</button>
        <button mat-raised-button matStepperNext>Pasul următorul</button>
      </div>
    </form>
    </mat-step>

    <mat-step label="Achitat">
      <form [formGroup]="achitatFormGroup">
      <mat-slide-toggle formControlName="achitatControl">Achitat</mat-slide-toggle>
      <div class="mydiv">
        <button mat-raised-button matStepperPrevious>Pasul precedent</button>
        <button mat-raised-button matStepperNext>Pasul următorul</button>
      </div>
    </form>
    </mat-step>

    <mat-step label="Artizan">
      <mat-form-field>
        <input matInput  id="input6" placeholder="Nume..." [(ngModel)]="saleDto.artizan">
      </mat-form-field>
      <div class="mydiv">
        <button mat-raised-button matStepperPrevious>Pasul precedent</button>
      </div>
    </mat-step>

    


  </mat-horizontal-stepper>
  
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Renunță</button>
  <button mat-raised-button color="accent" 
  [mat-dialog-close]="saleDto" 
  [disabled]="!produsFormGroup.valid">Salvează</button>
</div>
